#building-progress-page {
    background-color: #F0F0F0;

    .btn-go-top {
        display: none;
    }

    @include to(1025px) {
        .gallery__tabs {
            padding-bottom: 30px;
        }
    }

    @include to(850px) {
        .gallery__tab {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    @include to(770px) {
        .gallery__tabs {
            padding-bottom: 20px;
            align-self: center;
        }
    }

    @include to(720px) {
        .gallery__tabs {
            padding-bottom: 0;
            margin-top: 20px;
        }

        .building-progress__top {
            flex-direction: column;
            justify-content: flex-start;

            &-right {
                align-self: center;
            }
        }
    }

    @include to(480px) {
        .gallery__tabs {
            padding-bottom: 25px;
        }
    }

    @include to(320px) {
        .gallery__tab {
            padding-left: 20px;
            padding-right: 20px;

            &-btn {
                font-size: 18px;
            }
        }
    } 

    .building-progress {
        padding-bottom: 100px;

        @include to(1025px) {
            padding-bottom: 80px;
        } 

        @include to(770px) {
            padding-bottom: 70px;
        }

        @include to(480px) {
            padding-bottom: 45px;
        }

        .gallery__tabs {
            position: static;
        }

        &__top {
            margin-bottom: 30px;
            align-items: flex-start;

            @include to(480px) {
                & .gallery__tabs {
                    padding-bottom: 0;
                }
            }
        }

        .gallery__tab:nth-child(2) {
            box-shadow: 0px 4px 15px 0px #C9753340;
        }

        &__content {
            display: flex;
            justify-content: space-between;

            @include to(830px) {
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        &__info {
            padding: 30px;
            width: 35%;
            background: #FFFFFF;
            border-radius: 5px;
            color: $blue;
            align-self: flex-start;

            @include to(1440px) {
                width: 33%;
            }

            @include to(1370px) {
                width: 34%;
            }

            @include to(1025px) {
                width: 42%;
            }

            @include to(920px) {
                width: 48%;
            }

            @include to(830px) {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            @include to(480px) {
                padding: 20px 15px;
            }

            &-title {
                margin-bottom: 20px;
                font-size: 22px;
                line-height: 1em;
                font-weight: 500;
                color: $blue;

                @include to(1440px) {
                    font-size: 20px;
                }

                @include to(480px) {
                    font-size: 19px;
                }
            }

            &-item {
                &:not(:last-child) {
                    margin-right: 36px;
                }

                @include to(1250px) {
                    &:not(:last-child) {
                        margin-right: 23px;
                    }
                }

                @include to(480px) {
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }

                @include to(320px) {
                    margin-bottom: 15px;
                }
            }

            &-percent {
                width: 65px;
                height: 65px;
                margin: 0 auto;
                margin-bottom: 21px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                @include to(1440px) {
                    width: 60px;
                    margin-bottom: 15px;
                }

                svg {
                    position: absolute;
                    top: -2px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 65px;
                    height: 65px;

                    @include to(1440px) {
                        top: -2px;
                        left: 0px;
                        width: 60px;
                        height: 67px;
                    }
                }
            }

            &-text {
                font-weight: 500;
                font-size: 22px;
                line-height: 1em;

                @include to(1440px) {
                    font-size: 20px;
                }

                @include to(375px) {
                    font-size: 18px;
                }
            }

            &-desc {
                margin-bottom: 20px;
            }

            &-list {
                display: flex;
                justify-content: space-between;

                @include to(830px) {
                    max-width: 370px;
                    margin: 0 auto;
                }

                @include to(480px) {
                    flex-wrap: wrap;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
            }

            &-name {
                font-size: 12px;
                line-height: 1em;
                color: $blue;

                @include to(1440px) {
                    font-size: 10px;
                }
            }
        }

        &__block {
            width: calc(65% - 50px);
            display: flex;
            flex-direction: column;
            align-items: center;

            @include to(1440px) {
                width: calc(67% - 50px);
            }

            @include to(1025px) {
                width: calc(58% - 50px);
            }

            @include to(950px) {
                width: calc(53% - 50px);
            }

            @include to(830px) {
                width: 100%;
            }
        }

        &__report {
            margin-bottom: 50px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, minmax(280px, 500px));
            column-gap: 50px;
            row-gap: 29px;

            @include to(1025px) {
                grid-template-columns: 1fr;
            }

            @include to(830px) {
                grid-template-columns: repeat(2, minmax(280px, 500px));
                column-gap: 30px;
            }

            @include to(650px) {
                grid-template-columns: 1fr;
                row-gap: 0;
            }

            @include to(480px) {
                margin-bottom: 30px;
            }

            &-item {
                cursor: pointer;
                display: block;
                border-radius: 5px;
                background-color: #fff;
                padding: 15px 15px 23px;

                @include to(667px) {
                    margin-bottom: 23px;
                }
            }

            &-img {
                position: relative;
                margin-bottom: 32px;
                height: 260px;
                overflow: hidden;

                @include to(1025px) {
                    margin-bottom: 25px;
                }

                &::before {
                    content: "";
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(0deg, rgba(3, 24, 38, 0.2), rgba(3, 24, 38, 0.2));
                    transition: all .4s;
                    opacity: 0;
                    z-index: 1;
                }

                svg {
                   z-index: 2;
                   position: absolute;
                   top: 50%;
                   left: 50%;
                   transform: translate(-50%, -50%);
                   width: 55px;
                   height: 51px;
                   opacity: 0;
                   transition: all .4s;
                   
                   @include to(1440px) {
                       width: 50px;
                       height: 46px;
                   }
                }

                @include to(1440px) {
                    height: 200px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .4s;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                    &::before {
                        opacity: 1;
                    }

                    svg {
                        opacity: 1;
                        transition: all .4s ease .1s;
                    }
                }
            }

            &-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-title {
                margin-bottom: 0;
            }
        }
    }

    .building-gallery {
        position: fixed;
        width: 100%;
        height: 100vh;
        opacity: 0;
        z-index: -10;
        transition: all .4s;

        &__btn {
            padding: 0;
        }

        &.show {
            opacity: 1;
            z-index: 20;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 25%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        }

        .gallery__tabs {
            @include to(414px) {
                padding-bottom: 0;
                transform: translateY(-9vh);
            }
        }

        .gallery__tab {
            background: transparent;
            padding: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }

            @include to(480px) {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            &::before {
                display: none;
            }

            &-btn {
                border-radius: 25px;
                background: transparent;
                box-shadow: 0px 4px 15px rgba(201, 117, 51, 0.55), inset 0px -1px 0px #F6ED96;

                @include to(480px) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }

        &__top {
            position: absolute;
            z-index: 5;
            top: 100px;
            padding-top: 40px;
            width: 100%;
            color: #fff;

            &-content {
                display: flex;
                justify-content: space-between;
            }
        }

        &__date {
            color: #fff;
            margin-bottom: 10px;
        }

        &__btn {
            transform: translateY(-15px);
            display: flex;
            align-items: center;

            &-text {
                margin-right: 20px;
                color: #fff;
            }

            &-block {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .4s;

                @include to(480px) {
                    width: 40px;
                    height: 40px;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    transition: all .4s;

                    @include to(1440px) {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            &:hover {
                .building-gallery__btn-block {
                    background-color: rgba(#fff, 0.9);
                }

                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__month {
            font-size: 38px;
            line-height: 1em;
            font-family: $forum;

            @include to(1440px) {
                font-size: 36px;
            }
        }

        .swiper-container {
            height: 100%;
        }

        &__item {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}