#choise-flat-page {
    background-color: #F0F0F0;

    .page__title {
        margin-bottom: 20px;
    }

    .breadcrumbs {
        padding-top: 130px;

        @include to(770px) {
            padding-top: 110px;
        }

        @include to(480px) {
            padding-top: 85px;
        }
    }
}

.choise-flat {
    padding-bottom: 50px;
    &__filters {
        margin-bottom: 30px;
        padding-right: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include to(1280px) {
            padding-right: 0;
        }

        @include to(1200px) {
            justify-content: center;
        }

        @include to(850px) {
            margin-bottom: 10px;
        }

        @include to(680px) {
            margin-bottom: 30px;
            justify-content: flex-start;
        }

        @include to(480px) {
            margin-bottom: 10px;
        }

        &-block {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &:not(:last-child) {
                margin-right: 30px;
            }

            .choise-flat__filters-item:not(:last-child) {
                margin-right: 30px;
            }

            @include to(1200px) {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 26px;
                }
            }

            
            @include to(1100px) {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            @include to(992px) {
                justify-content: center;

                &:not(:last-child) {
                    margin-right: 30px;
                }
            }

            @include to(680px) {
                justify-content: flex-start;
            }
            @include to(480px) {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 5px;
                }

                .choise-flat__filters-item:not(:last-child) {
                    margin-right: 0;
                }

                .choise-flat__filters-item--1 .choise-flat__filters-btn:not(:last-child) {
                    margin-right: 10px;
                }

                .choise-flat__filters-item--3 .choise-flat__filters-btn:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        &-btn {
            position: relative;
            min-height: 50px;
            display: inline-flex;
            font-family: $forum;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            color: $blue;
            text-decoration: none;
            background: #FFFFFF;
            transition: all .4s;
            box-shadow: 0px 4px 15px rgba(201, 117, 51, 0.25);

            @include to(1440px) {
                font-size: 18px;
            }

            @include to(650px) {
                margin-bottom: 15px;
            }

            @include to(480px) {
                border-radius: 25px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: -1;
                transition: all .4s;
                background: linear-gradient(343.46deg,#ebba8c 0,#ebc78c 17.56%,#ffe9b8 78.41%);
                box-shadow: 0px 4px 15px rgba(201, 117, 51, 0.25), inset 0px -1px 0px #F6ED96;

                @include to(480px) {
                    border-radius: 25px;
                }
            }

            &.choison {
                background-color: transparent;

                span {
                    background: linear-gradient(180deg, #703221 0%, #000000 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-decoration: none;
                    position: relative;
                    z-index: 4;
                }

                &::before {
                    opacity: 1;
                }
            }

            &:hover {
                transform: scale(0.9);
            }
        }
        
        &-title {
           margin-right: 20px;
           font-size: 20px;
           line-height: 1em;
           font-family: $forum;
           
           @include to(1440px) {
               font-size: 18px;
           }

           &--laptop {
               display: none;

               @include to(992px) {
                   display: block;
               }

               @include to(680px) {
                   display: none;
               }
           }

           &--desk {
               @include to(992px) {
                   display: none;
               }

               @include to(680px) {
                   display: block;
               }
           }

           @include to(480px) {
               margin-bottom: 13px;
           }
        }

        &-item {
            display: flex;
            flex-wrap: wrap;

            &--laptop {
                display: none;
            }

            @include to(992px) {
                &--2{
                    margin-top: 30px;
                }

                &--laptop {
                    display: flex;
                }

                &--3 {
                    display: none;
                }
            }

            @include to(680px) {
                &--laptop {
                    display: none;
                }

                &--3 {
                    display: flex;
                }
            }

            @include to(480px) {
                &--2 {
                    width: 100%;
                    margin-top: 5px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(122px, 1fr));
                    column-gap: 10px;
                }
            }
        }

        .round-left {
            border-radius: 25px 0px 0px 25px;

            &::before {
                border-radius: 25px 0px 0px 25px;
            }

            @include to(650px) {
                border-radius: 25px;

                &::before {
                    border-radius: 25px;
                }
            }
        }

        .round-right {
            border-radius: 0px 25px 25px 0px;

            &::before {
                border-radius: 0px 25px 25px 0px; 
            }

            @include to(650px) {
                border-radius: 25px;

                &::before {
                    border-radius: 25px;
                }
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(230px, 1fr));
        column-gap: 22px;
        row-gap: 22px;

        @include to(1025px) {
            grid-template-columns: repeat(3, minmax(230px, 293px));
        }

        @include to(850px) {
            grid-template-columns: repeat(2, minmax(180px, 400px));
        }

        @include to(480px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 20px 33px 40px;
        padding-right: 50px;
        background: #FFFFFF;
        border-radius: 5px;
        transition: all .4s;

        @include to(1280px) {
            padding-right: 33px;
        }

        @include to(1100px) {
            padding: 20px 20px 30px;
        }

        @include to(480px) {
            padding: 20px 15px;
        }

        img {
            width: 100%;
            margin: 0 auto;
            height: auto;
            padding-left: 0;
            height: 185px;
            margin-bottom: 14px;
            object-fit: contain;
            transition: all .4s;

            @include to(1280px) {
                padding: 0;
            }
        }

        &:hover {
            box-shadow: 0px 20px 80px rgba(201, 117, 51, 0.15);

            img {
                transform: scale(1.1);
            }
        }
    }

    &__wrap {
        margin-top: auto;

        @include to(480px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        margin-bottom: 23px;
        font-size: 26px;
        line-height: 1em;
        color: $black;
        text-align: center;
        font-family: $forum;

        @include to(1440px) {
            font-size: 24px;
        }

        @include to(480px) {
            font-size: 22px;
        }

        @include to(320px) {
            font-size: 21px;
        }
    }

    &__block {
        color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__value {
        width: 30%;

        // @include to(1370px) {
        //     width: 33%;
        // }
    }

    &__btn {
        margin-top: 20px;
        padding: 0;
        width: calc(100% + 15px);

        @include to(1280px) {
            width: 100%;
        }

        @include to(480px) {
            margin-top: 12px;
            width: 230px;
            align-self: center;
        }
    }
}

.choise-filter-status-search {
    display: none;
}