#contacts-page {
    background-color: #F0F0F0;

    .btn-go-top {
        display: none;
    }

    .header {
        background-color: transparent;

        .btn-round {
            &::before {
                background-color: #F0F0F0;
            }
        }
    }

    .contacts__wrap {
        margin-top: 30px;
        margin-bottom: 111px;
        min-height: auto;
        justify-content: flex-start;
    }
}