#developer-page {
    background-color: #F0F0F0;

    .page__title {
        margin-bottom: 30px;
    }

    .btn-go-top {
        display: none;
    }

    .header {
        position: absolute;
        background-color: transparent;

        .btn-round {
            &::before,
            &::after {
                display: none;
            }

            .btn-round-cirlce {
                display: block;
            }
        }

        .header__language,
        .burger-btn {
            &:hover {
                .btn-round-cirlce {
                    opacity: 0;
                }
            }
        }

    }

    .developer {
        padding-bottom: 70px;

        @include to(480px) {
            padding-bottom: 45px;
        }

        &__content {
            padding-top: 70px;
            padding-right: 44px;
            padding-left: 44px;
            background-color: #fff;
            box-shadow: 0px 100px 200px rgba(201, 117, 51, 0.1);
            border-radius: 5px;

            @include to(1370px) {
                max-width: 1106px;
            }

            @include to(770px) {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include to(480px) {
                padding-top: 45px;
                padding-left: 15px;
                padding-right: 15px;
            }

            .builder {
                max-width: 100%;
                justify-content: center;
                padding-left: 70px;
                margin: 0;
                @include to(770px) {
                    padding-left: 0;
                }

                &__left {
                    padding-top: 137px;

                    // &::before {
                    //     top: 0;

                    //     @include to(1370px) {
                    //         width: 109%;
                    //         top: -10px;
                    //     }

                    //     @include to(1025px) {
                    //         top: -43px;
                    //     }

                    //     @include to(920px) {
                    //         top: -23px;
                    //     }
                    // }

                    @include to(1440px) {
                        padding-top: 105px;

                        .builder__decor {
                            width: 83%;
                        }
                    }

                    @include to(1370px) {
                        padding-top: 110px;

                        .builder__decor {
                            width: 100%;
                        }
                    }

                    @include to(1025px) {
                        padding-top: 115px;
                    }

                    @include to(920px) {
                        padding-top: 100px;
                    }

                    @include to(770px) {
                        padding-top: 90px;
                    }

                    @include to(720px) {
                        padding-top: 0;
                    }
                }

                &__right {
                    padding-left: 100px;

                    @include to(1440px) {
                        padding-left: 80px;
                    }

                    @include to(770px) {
                        padding-left: 50px;
                    }

                    @include to(720px) {
                        padding-left: 0;
                    }
                }

                &__desc:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .objects {
            margin: 0;
            
            &::after {
                display: none;
            }

            &::before {
                right: -44px;
                background: url('../images/developer/bg-img.png') no-repeat no-repeat center/cover;

                @include to(720px) {
                    display: none;
                }
            }
        }

        .object__decor {
            position: relative;
            z-index: 2;
            width: 100%;
            margin-top: 72px;
        }

        .objects__content {
            padding-bottom: 50px;
            padding-top: 72px;
            min-height: auto;

            @include to(770px) {
                padding-top: 50px;
            }

            @include to(480px) {
                padding: 45px 0;
            }
        }
    }
}