#documents-page {
    background-color: #F0F0F0;

    .btn-go-top {
        display: none;
    }

    .breadcrumbs {
        padding-top: 130px;

        @include to(770px) {
            padding-top: 110px;
        }

        @include to(480px) {
            padding-top: 85px;
        }
    }

    .header {
        position: absolute;
        background-color: transparent;

        .btn-round {
            &::before,
            &::after {
                display: none;
            }

            .btn-round-cirlce {
                display: block;
            }
        }

        .header__language,
        .burger-btn {
            &:hover {
                .btn-round-cirlce {
                    opacity: 0;
                }
            }
        }

    }

    .page__title {
        margin-bottom: 30px;
    }

    .documents {
        margin-right: 60px;
        padding-bottom: 129px;

        @include to(1200px) {
            margin-right: 0;
        }

        @include to(1025px) {
            padding-bottom: 90px;
        }

        @include to(770px) {
            padding-bottom: 70px;
        }

        @include to(480px) {
            padding-bottom: 30px;
        }

        .big-container {
            padding-left: 138px;

            @include to(1100px) {
                padding-left: 50px;
            }

            @include to(770px) {
                padding-left: 30px;
            }

            @include to(480px) {
                padding-left: 15px;
            }
        }

        &__list {
            column-count: 2;
            grid-template-columns: repeat(auto-fit, minmax(45.5%, 45%));
            column-gap: 80px;
            flex-wrap: wrap;
            row-gap: 35px;

            @include to(1440px) {
                grid-template-columns: repeat(auto-fit, minmax(46%, 45%));
            }

            @include to(850px) {
                column-gap: 41px;
            }

            @include to(667px) {
                display: block;
                column-count: 1;
            }
        }
    
        &__link {
            margin-bottom: 30px;
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            padding: 30px 30px 40px;
            min-height: 125px;
            color: $blue;
            text-decoration: none;
            transition: all .4s;

            @include to(850px) {
                flex-direction: column;
                align-items: center;
                padding: 30px 20px 30px;
            }

            @include to(667px) {
                flex-direction: row;
            }

            @include to(480px) {
                padding: 25px 15px;
            }
    
            svg {
                width: 46px;
                height: 50px;
                margin-right: 27px;

                @include to(850px) {
                    margin-bottom: 15px;
                    margin-right: 0;
                    justify-self: center;
                }

                @include to(667px) {
                    margin-right: 27px;
                    margin-bottom: 0;
                }

                @include to(480px) {
                    margin-right: 15px;
                }
            }

            &:hover {
                box-shadow: 0px 20px 80px rgba(201, 117, 51, 0.15);

                .documents__title {
                    text-decoration: underline;
                }
            }
        }

        &__wrap {
            @include to(850px) {
                width: 100%;
            }
        }
    
        &__date {
            margin-bottom: 8px;
            font-size: 12px;
            line-height: 1em;
            color: #758BA2;
    
            @include to(1440px) {
                font-size: 10px;
            }
        }
    
        &__title {
            font-size: 22px;
            font-weight: 500;
            line-height: 1.5em;
    
            @include to(1440px) {
                font-size: 20px;
            }

            @include to(480px) {
                font-size: 18px;
            }

            @include to(320px) {
                font-size: 17px;
            }
        }
    }
}