#single-news-page {
    background-color: #F0F0F0;

    .news-single {
        margin-bottom: 50px;
        margin-top: 20px;
        display: flex;
        margin-right: 60px;

        @include to(1025px) {
            margin-right: 0;
            margin-bottom: 30px;
        }

        @include to(480px) {
            flex-direction: column;
        }

        p {
            color: #758BA2;
            margin-bottom: 20px;

            @include to(480px) {
                margin-bottom: 12px;
            }
        }

        img {
            margin-bottom: 20px;
            width: 100%;
            object-fit: cover;
            height: 515px;
            border-radius: 5px;

            @include to(1440px) {
                height: 425px;
            }

            @include to(1125px) {
                height: 355px;
            }

            @include to(850px) {
                height: 300px;
            }

            @include to(567px) {
                height: 260px;
            }

            @include to(480px) {
                height: 32vh;
                margin-bottom: 12px;
            }

            @include to(320px) {
                height: 34vh;
            }
        }
    
        &__back {
            margin-top: 32px;
            min-width: 50px;
            margin-right: 10px;

            @include to(480px) {
                margin-top: 0;
                margin-bottom: 17px;
                margin-right: 0;
                min-width: 40px;
            }

            @include to(320px) {
                min-width: 36px;
              }
            
            svg {
                position: relative;
                z-index: 3;
                fill: none;
                stroke: $blue;
                width: 21px;
                height: 18px;

                @include to(1440px) {
                    width: 19px;
                }

                @include to(480px) {
                    width: 17px;
                    height: 16px;
                  }
            
                @include to(320px) {
                width: 15px;
                height: 15px;
                }
            }

            &::before {
                background-color: #F0F0F0;
            }

            &::after {
                background: rgba($blue, .2);
            }

            &:hover {
                &::after {
                    opacity: 1;
                    background: $blue;
                }
            }
        }

        &__content {
            display: flex;
            align-items: flex-start;
            padding: 50px 153px 50px 50px;
            background: #FFFFFF;
            box-shadow: 0px 100px 200px rgba(201, 117, 51, 0.1);
            border-radius: 5px;

            @include to(1250px) {
                padding-right: 50px;
            }

            @include to(850px) {
                flex-direction: column;
            }

            @include to(667px) {
                padding-left: 20px;
                padding-right: 20px;
            }

            @include to(480px) {
                padding-top: 25px;
                padding-bottom: 25px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &__date {
            margin-top: 25px;
            margin-right: 52px;
            font-size: 12px;
            line-height: 1em;
            color: #758BA2;

            @include to(1440px) {
                font-size: 10px;
            }

            @include to(850px) {
                margin-top: 0;
                margin-bottom: 15px;
                margin-right: 0;
            }
        }

        &__title {
            margin-bottom: 20px;
            font-size: 38px;
            line-height: 1.2em;
            font-family: $forum;

            @include to(1440px) {
                font-size: 36px;
            }

            @include to(770px) {
                font-size: 30px;
            }

            @include to(480px) {
                margin-bottom: 12px;
                font-size: 28px;
            }

            @include to(320px) {
                font-size: 27px;
            }
        }
        &__block {
            display: flex;
            justify-content: flex-end;
        }
    }

    .last-news {
        margin-bottom: 74px;
        margin-left: 57px;
        margin-right: 60px;

        @include to(1025px) {
            margin-left: 0;
            margin-right: 0;
        }

        @include to(480px) {
            margin-bottom: 45px;
        }

        &__title {
            margin-bottom: 50px;
            text-align: center;

            @include to(1025px) {
                margin-bottom: 30px;
            }
        }
    }
}