div(class=`breadcrumbs ${colorThemeBreadCrumbs}`)
	ul.breadcrumbs__list 
		li.breadcrumbs__item 
			a(href="/").breadcrumbs__link головна
		if(breadcrumbsLink === 'gallery')
			li.breadcrumbs__item 
				span.breadcrumbs__link Галерея
