div(class=`breadcrumbs ${colorThemeBreadCrumbs}`)
	ul.breadcrumbs__list 
		li.breadcrumbs__item 
			a(href="/").breadcrumbs__link головна
		if(breadcrumbsLink === 'gallery')
			li.breadcrumbs__item 
				span.breadcrumbs__link Галерея
		if(breadcrumbsLink === 'contacts')
			li.breadcrumbs__item 
				span.breadcrumbs__link Контакты
		if(breadcrumbsLink === 'news')
			li.breadcrumbs__item 
				span.breadcrumbs__link Новини
		if(breadcrumbsLink === 'single-news')
			li.breadcrumbs__item 
				a(href="/").breadcrumbs__link Новини
			li.breadcrumbs__item 
				span.breadcrumbs__link Планове підвищення вартості квадратного метра на квартири з 07.02.2021г.
		if(breadcrumbsLink === 'documents')
			li.breadcrumbs__item 
				span.breadcrumbs__link Документи
		if(breadcrumbsLink === 'developer')
			li.breadcrumbs__item 
				span.breadcrumbs__link Девелопер
		if(breadcrumbsLink === 'panorama')
			li.breadcrumbs__item 
				span.breadcrumbs__link Панорама
		if(breadcrumbsLink === 'building-progress')
			li.breadcrumbs__item 
				span.breadcrumbs__link Хід будівництва
		if(breadcrumbsLink === 'choise-flat')
			li.breadcrumbs__item 
				span.breadcrumbs__link Обрати квартиру
		if(breadcrumbsLink === 'single-flat')
			li.breadcrumbs__item 
				span.breadcrumbs__link Обрати квартиру
			li.breadcrumbs__item 
				span.breadcrumbs__link Квартира 2А
		if(breadcrumbsLink === 'commercial-flat')
			li.breadcrumbs__item 
				span.breadcrumbs__link Комерційна нерухомість
		if(breadcrumbsLink === 'location')
			li.breadcrumbs__item 
				span.breadcrumbs__link Розташування

