footer.footer 
    .big-container
        .footer__top.footer-offset 
            .footer__top-left 
                ul.footer__top-links
                    li.footer__top-item 
                        a(href="#").footer__top-link.btn-with-animate Забудовник
                    li.footer__top-item 
                        a(href="#").footer__top-link.btn-with-animate Новини
                    li.footer__top-item 
                        a(href="#").footer__top-link.btn-with-animate Контакти
            .footer__top-right.footer__nav  
                .footer__nav-item 
                    .footer__nav-title Про проект
                    ul.footer__nav-item-list
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate про комплекс
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate розташування
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate переваги
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate умови придбання
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate панорама
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate документація
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate паркінг
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate інвесторам
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate відео
                .footer__nav-item.footer__nav-item--correct 
                    .footer__nav-title Podil Plaza 1
                    ul.footer__nav-item-list
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate обрати квартиру
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate комерційні приміщення
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate галерея
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate будівництво
                    .footer__nav-item 
                    .footer__nav-title Podil Plaza 2
                    ul.footer__nav-item-list
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate обрати квартиру
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate комерційні приміщення
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate галерея
                        li.footer__nav-item-block 
                            a(href="#").btn-with-animate будівництво
                .footer__nav-item.footer__contacts 
                    .footer__nav-title.footer__contacts-title Про проект
                    .footer__contacts-desc Київ, Шевченківський район, вул. Глубочицька, 77-79
                    a(href="tel:0443645051").footer__contacts-phone 044 364-50-51
                    .footer__contacts-desc пн-пт: 09:00-19:00,<br>сб: 09:00-17:00,<br>вс: вихідний
                    .footer__contacts-wrap 
                        +img('footer-logo.svg')
                        .footer__contacts-desc девелопер проєкту
        .footer__form.footer-offset 
            .footer__form-title.medium-text Якщо у вас виникли запитання, залиште свій номер і ми передзвонимо вам:
            form.footer__form-wrap
                .footer__form-f
                    div.footer__form-block
                        .footer__form-block-text + (38)
                        div.footer__form-input-wrap
                            input(type="text" name="phone" data-required="true").footer__form-input.js-footer-input
                            .popup__item-msg-warn              
                    button(type="submit").btn.footer__form-btn.btn--res Надіслати
        .footer__copyright.footer-offset  
            .footer__copyright-text © Усі права захищено <br>PODIL PLAZA & RESIDENCE - 2
            .footer__copyright-developer.footer__copyright-text
                span Розробка сайту<br>
                a(href="https://smarto.agency/") Smart Orange