header(class=`header ${headerColor} ${noBg && 'no-bg'}`)
  .big-container 
    .header__content
      a(href="/").logo.header__logo
        if(colorThemeBreadCrumbs === 'gold')
          +img('logo-white.svg')
        else 
          +img('logo.svg')
      .header__right 
        .language.header__language.btn-round
          span.language__current
            +svg('circle-gradient').btn-round-cirlce
            span ук
          ul.language__list 
            li.language__item 
              a(href="#").language__link Ру
            li.language__item 
              a(href="#").language__link En
        .header__links 
          a(href="#").header__link.btn-with-animate Обрати квартиру
          a(href="#").header__link.btn-with-animate Комерційна нерухомість
        a(href="tel:0443382727").header__phone.btn-with-animate (044) 338-27-27
        button(type="button").header__btn.btn.btn--res.js-popup-open(data-popup-type="callback") Замовити дзвінок
        button(type="button").burger-btn.btn--res.js-open-menu 
          span.burger-btn__text Меню
          span.burger-btn__block.btn-round
            +svg('circle-gradient').btn-round-cirlce
            span.burger-btn__decor
            span.burger-btn__decor

