
extends ../layout/main
block variable
  -
    var title_page = 'Відео'
    var id_page = 'video-page'
    var class_page = 'vdeo-page'
    var breadcrumbsLink = 'video'
    var colorThemeBreadCrumbs = 'dark'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  <script defer="" src="https://www.youtube.com/player_api"></script>
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/video.js')
block content
    .big-container.gallery__wrapper-top
        include ../includes/breadcrumbs.pug
        .page__title Відео 
        .video__list 
          .video__item(data-video="qMQWND1042E")
            .video__item-preview 
              +img('/videos/1.jpg')
              .video__item-play 
                +img('circle-decor.png')
                +img('/ui/play-triangle.svg').video__item-play-decor
            .video__desc Назва для відео. Кожну прев’юшку для нього було б добре в ручну робити (підставляти фото), щоб сторінка гарно виглядала 
          .video__item(data-video="qMQWND1042E")
            .video__item-preview 
              +img('/videos/2.jpg')
              .video__item-play 
                +img('circle-decor.png')
                +img('/ui/play-triangle.svg').video__item-play-decor
            .video__desc Назва для відео
          .video__item(data-video="qMQWND1042E")
            .video__item-preview 
              +img('/videos/1.jpg')
              .video__item-play 
                +img('circle-decor.png')
                +img('/ui/play-triangle.svg').video__item-play-decor
            .video__desc Назва для відео. Кожну прев’юшку для нього було б добре в ручну робити (підставляти фото), щоб сторінка гарно виглядала 
          .video__item(data-video="qMQWND1042E")
            .video__item-preview 
              +img('/videos/2.jpg')
              .video__item-play 
                +img('circle-decor.png')
                +img('/ui/play-triangle.svg').video__item-play-decor
            .video__desc Назва для відео
          .video__item(data-video="qMQWND1042E")
            .video__item-preview 
              +img('/videos/1.jpg')
              .video__item-play 
                +img('circle-decor.png')
                +img('/ui/play-triangle.svg').video__item-play-decor
            .video__desc Назва для відео. Кожну прев’юшку для нього було б добре в ручну робити (підставляти фото), щоб сторінка гарно виглядала 
          .video__item(data-video="qMQWND1042E")
            .video__item-preview 
              +img('/videos/2.jpg')
              .video__item-play 
                +img('circle-decor.png')
                +img('/ui/play-triangle.svg').video__item-play-decor
            .video__desc Назва для відео
                        
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
