@font-face {
  font-family: 'Forum';
  src: url('../fonts/forum/Forum.eot');
  src: url('../fonts/forum/Forum.eot?#iefix') format('embedded-opentype'),
      url('../fonts/forum/Forum.woff2') format('woff2'),
      url('../fonts/forum/Forum.woff') format('woff'),
      url('../fonts/forum/Forum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

