.pu-form{
  &__header{
   
  }
  &__data{
    margin-top: 60px;
  }

  &__close{
    margin-left: auto;
  }
}

.header-pu-form{
  display: flex;
  @include to(640px){
    flex-wrap: wrap;
  }
  &__title{
    margin-bottom: 40px;
    @include to(640px){
      display: none !important; 
    }
  }
  &__info-wrapper {
    padding-left: 30px;
    width: 100%;
    @include to(640px){
      padding-left: 0;
    }
  }
  &__radio-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__img-wrapper {
    flex-basis: 50%;
    flex-shrink: 0;
    @include to(640px){
      flex-basis: 100%;
      margin-bottom: 15px;
    }
    img{
      height: 100%;
      object-fit: cover;
    }
  }
  &__radio-btn-wrapper{
    flex-basis: 50%;
  }
}

.data-pu-form{
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include to(640px){
      flex-wrap: wrap;
    }
  }
  &__btn{
    @include to(640px){
      margin: 48px auto 0;
    }
  }
  &__subtitle{
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
    &_m40{
      margin-bottom: 40px;
    }
    &_price{
      margin-bottom: 0;
    }
  }
  &__row + &__row{
    margin-top: 16px;
  }

  &__form-input-group{
    position: relative;
    width: 100%;
    &_three{
      flex-basis: calc(33.3% - 15px);
    }
    &_two{
      flex-basis: calc(67% - 12px);
    }
    &_full{
      flex-basis: 100%;
    }
    &_phone{
      flex-basis: calc(40% - 15px);
      @include to(640px){
        flex-basis: 100%;
      }
    }
    &_email{
      flex-basis: calc(60% - 15px);
      @include to(640px){
        flex-basis: 100%;
      }
    }

  }

  &__price{
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }

  &__warning-text{
    P + p{
      margin-top: 10px;
    }
  }
}

.form-input-group{
  label.form-input-group__upload-btn{
    display: inline-flex;
    cursor: pointer;
    input{
      display: none;
    }
  }
  &__upload-text-wrapper{
    max-width: 176px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 52px;
    @include to(640px){
      margin-bottom: 15px;
      max-width: 200px;
    }
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
  }

  &__add-info{
    width: 100%;
  }
  &__input{
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 16px;
    height: 52px;
    width: 100%;
    margin-bottom: 7px;

    &_textarea{
      height: 95px;
      resize: none;
      width: 100%;
      padding-top: 5px;
    }
  }

  &_upload{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 45%;
    @include to(640px){
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &__label{
    margin-bottom: 15px;
    display: block;
  }

}

.big-container {
   max-width: 1520px;
   padding-left: 50px;
   padding-right: 50px;
   margin: 0 auto;
   width: 100%;

   @include to(770px) {
     padding-left: 30px;
     padding-right: 30px;
   }

   @include to(480px) {
    padding: 0 15px;
  }
}

.btn-round-cirlce {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  fill: none;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

.btn-round {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include to(480px) {
    width: 40px;
    height: 40px;
  }

  @include to(320px) {
    width: 36px;
    height: 36px;
  }

  &:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 0;
    background: $gold;
    border-radius: 50%;
    transition: all .4s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    transition: all .4s;
  }

  &:hover {
    &::after {
      opacity: 0;
    }
  }
}

.btn--res {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-with-animate {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 0;
    transition: all .5s;
  }

  &:hover {
    &::before {
      width: 100%;
      background-color: $black;
    }
  }
}

.btn {
  position: relative;
  min-height: 50px;
  border-radius: 25px;
  padding: 0 50px;
  font-size: 20px;
  font-weight: 400;
  font-family: $forum;
  text-decoration: none;
  transition: all .4s;
  box-shadow: 0px 4px 20px rgba(201, 117, 51, 0.25), inset 0px -1px 0px #F6ED96;
  transition: all .4s;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: inline-flex;

  span {
    background: linear-gradient(180deg, #703221 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    display: block;
    position: relative;
    z-index: 2;

  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: linear-gradient(87.34deg, #FBBF65 0%, #F2C37C 14.69%, #F2CE7C 26.02%, #FFE3A3 51.54%, #F2CE7C 74.04%, #F2C37C 83.65%, #FBBF65 100%);
  }

  @include to(1440px) {
    font-size: 18px;
  }

  @include to(770px) {
    font-size: 17px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include to(767px) {
    padding-left: 38px;
    padding-right: 38px;
  }

  @include to(480px) {
    padding-left: 33px;
    padding-right: 33px;
    min-height: 45px;
  }

  @include to(320px) {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 42px;
  }

  &:hover {
    transform: scale(0.9);
    opacity: 0.9;
  }
}

.burger-btn {
  display: flex;
  align-items: center;
  cursor: pointer;

  @include to(480px) {
    padding: 0;
  }

  &__text {
    margin-right: 20px;
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;

    @include to(1440px) {
      font-size: 10px;
    }

    @include to(850px) {
      display: none;
    }

    @include to(480px) {
      margin-right: 15px;
    }

    @include to(320px) {
      margin-right: 10px;
    }
  }

  &__decor {
    height: 1px;
    width: 18px;
    background-color: $black;
    position: relative;
    z-index: 5;
    transition: all .4s;

    &:last-child {
      margin-top: 6px;
    }

    @include to(480px) {
      width: 16px;
    }
  }

  &__block {
    flex-direction: column;
  }

  &:hover {
    .burger-btn__decor {
      width: 25px;

      @include to(480px) {
        width: 20px;
      }
    }

    .btn-round {
      &::after {
        opacity: 0;
      }
    }
  }
}

.slider-pagination {
  .swiper-pagination-bullet {
    position: relative;
    width: 34px;
    height: 34px;
    transition: all .4s;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin-bottom: 34px !important;

    @include to(1025px) {
      margin-bottom: 23px !important;
    }

    @include to(480px) {
      margin-bottom: 15px !important;
    }

    &:hover {
      opacity: 0.8;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;

      @include to(480px) {
        width: 7px;
        height: 7px;
      }

      @include to(320px) {
        width: 6px;
        height: 6px;
      }

      &:hover {
        opacity: .5;
      }
    }

    svg {
      position: relative;
      transform: rotate(-90deg) translateY(13px);
      fill: none;
      stroke-dasharray: 251; /* (2PI * 40px) */
      stroke-dashoffset: 251;
      display: flex;
      align-items: center;
      justify-content: center;

      @include to(480px) {
        transform: rotate(-90deg) translateY(18px) translateX(4px);
      }

      @include to(375px) {
        transform: rotate(-90deg) translateY(18px) translateX(3px);
      }

      @include to(320px) {
        transform: rotate(-90deg) translateY(19px) translateX(4px);
      }

      circle {
        position: absolute;
        top: 0;
        left: 0;

        @include to(480px) {
          transform: scale(0.8);
        }

        @include to(320px) {
          transform: scale(0.75);
        }
      }

      &.start-animate {
        animation: offsettozero 12s linear forwards;
      }
    }

    @keyframes offsettozero {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-go-top {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(343.46deg, #EBBA8C 0%, #EBC78C 17.56%, #FFE9B8 78.41%);
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  justify-content: center;
  z-index: 20;
  bottom: 40px;
  right: 63px;
  cursor: pointer;

  @include to(1025px) {
    right: 50px;
  }

  @include to(770px) {
    right: 30px;
  }

  @include to(480px) {
    right: 15px;
    width: 40px;
    height: 40px;
  }

  @include to(320px) {
    width: 36px;
    height: 36px;
  }

  img {
    min-width: 18px;
    max-width: 22px;
    height: 21px;
    transform: rotate(90deg);
    fill: none;
    transition: all .4s;
    animation: 1s linear btnTopAnimate infinite;

    @include to(1440px) {
      max-width: 20px;
    }

    @include to(480px) {
      max-width: 16px;
      height: 17px;
    }

    @include to(320px) {
      max-width: 14px;
      height: 15px;
    }
  }
}

@keyframes btnTopAnimate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(-7px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.section-padding {
  margin: 100px 0;

  @include to(1025px) {
    margin: 80px 0;
  }

  @include to(700px) {
    margin: 70px 0;
  }

  @include to(480px) {
    margin: 45px 0;
  }
}

.block-with-height {
  min-height: calc(100vh - 100px);

  @include to(770px) {
    min-height: 70vh;
  }

  @include to(480px) {
    min-height: 85vh !important;
  }
}

.section-title {
  font-family: $forum;
  font-size: 50px;
  line-height: 1.1em;
  color: $blue;

  @include to(1440px) {
    font-size: 48px;
  }

  @include to(950px) {
    font-size: 45px;
  }

  @include to(480px) {
    font-size: 33px !important;
  }

  @include to(320px) {
    font-size: 31px !important;
  }
}

.controls-slider {
  display: flex;

  &__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(3, 24, 38, 0.2);
    transition: all .4s;
    background-color: transparent;

    @include to(480px) {
      width: 40px;
      height: 40px;
    }

    @include to(320px) {
      width: 36px;
      height: 36px;
    }

    svg {
      width: 19px;
      height: 18px;
      fill: none;
      stroke: $blue;
      transition: all .4s;

      @include to(480px) {
        width: 17px;
        height: 16px;
      }

      @include to(320px) {
        width: 15px;
        height: 15px;
      }
    }

    &--next {
      margin-left: 20px;

      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      border: 1px solid rgba(3, 24, 38, 0.8);

      svg {
        stroke: darken($blue, 10%);
      }
    }
  }
}

.medium-text {
  font-family: $forum;
  font-size: 26px;
  line-height: 1em;
  color: $blue;

  @include to(1440px) {
    font-size: 24px;
  }
}

.breadcrumbs {
  margin-bottom: 15px;
  padding-top: 158px;

  @include to(1025px) {
    margin-bottom: 10px;
  }

  @include to(770px) {
    padding-top: 135px;
  }

  @include to(480px) {
    padding-top: 100px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 10px;
    padding-right: 10px;
    margin-right: 10px;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: #EBC78C;
      }
    }

    @include to(1440px) {
      font-size: 10px;
    }
  }

  a.breadcrumbs__link {
    text-decoration: none;
    transition: all .4s;
    border-bottom: 1px solid transparent;
  }

  &.gold {
    .breadcrumbs__link {
      color: #EBC78C;

      &:hover {
        border-color: #EBC78C;
      }
    }

    span.breadcrumbs__link {
      color: #fff
    }
  }

  &.dark {
    .breadcrumbs__link {
      color: $blue;

      &:hover {
        border-color: $blue;
      }
    }

    span.breadcrumbs__link {
      color: #758BA2;
    }
  }
}

.page__title {
  font-size: 38px;
  line-height: 1em;
  color: $black;

  @include to(1440px) {
    font-size: 36px;
  }

  @include to(770px) {
    font-size: 33px;
  }

  @include to(480px) {
    font-size: 31px;
  }

  @include to(320px) {
    font-size: 30px;
  }
}

.small-text {
  font-size: 12px;
  line-height: 1em;
  color: #758BA2;

  @include to(1440px) {
    font-size: 10px;
  }
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.with-animate-bg {
  overflow: hidden;
  position: relative;

  .complex-name__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .container,
  .big-container {
    position: relative;
    z-index: 3;
  }
}

.sec-with-bg {
  @include to(850px) {
    min-height: 45vh !important;
    max-height: 500px !important;
  }

  @include to(480px) {
    padding: 45px 0;
  }
}