.page404-wrap {
	flex-grow: 1;
	padding-top: 28vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.class-page-error{
	.page__content{
		flex-direction: column;
		display: flex;
	}
}

.page404{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__link{
		width: 250px;
		padding-left: 0;
		padding-right: 0;
		height: 50px;
		margin-top: 25px;
		display: inline-flex;
	}
	&__subtitle{
		margin-top: 10px;
		color: $blue;
		font-size: 20px;
		line-height: 1em;

		@include to(1440px) {
			font-size: 18px;
		}
	}
}

.link-wrap {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	@include to(770px) {
		margin-top: 40px;
	}

	@include to(480px) {
		margin-top: 30px;
	}
}

.page-404 {
	margin-bottom: -50px;
}