.footer {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #fff;

  &-offset {
    padding-right: 80px;

    @include to(1250px) {
      padding-right: 0;
    }
  }

  &__top {
    display: grid;
    column-gap: 180px;
    grid-template-columns: 120px 1fr;
    justify-content: space-between;

    @include to(1230px) {
      column-gap: 90px;
    }

    @include to(992px) {
      column-gap: 45px;
    }

    @include to(770px) {
      grid-template-columns: 0.5fr 1fr;
      padding-bottom: 30px;
    }

    @include to(630px) {
      grid-template-columns: 0.3fr 1fr;
    }

    @include to(480px) {
      padding-bottom: 5px;
      grid-template-columns: 1fr 1fr;
      column-gap: 5px;
    }

    &-item {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 1em;
      font-family: $forum;

      @include to(1440px) {
        font-size: 24px;
      }

      @include to(770px) {
        margin-bottom: 15px;
      }

      @include to(480px) {
        margin-bottom: 12px;
        font-size: 22px;
      }

      @include to(320px) {
        font-size: 21px;
      }
    }

    &-link {
      color: $black;
      text-decoration: none;
    }

    &-right {
      display: flex;
      justify-content: space-between;

      @include to(850px) {
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      @include to(770px) {
        justify-content: space-between;
      }

      @include to(480px) {
        justify-content: flex-start;
      }
    }
  }

  &__nav {

    &-mobile {
      display: none;

      @include to(480px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 25px;

        .footer__nav-item {

        }
      }
    }

    &-item {
      &:not(:last-child) {
        margin-right: 180px;
      }

      &--m {
        margin-top: 13px;
      }

      margin-bottom: 30px;

      @include to(770px) {
        margin-bottom: 15px;
      }

      &--correct {
        margin-right: 155px;
      }

      @include to(1280px) {
        margin-right: 150px;
      }

      @include to(1230px) {
        &:not(:last-child) {
          margin-right: 90px;
        }
      }

      @include to(992px) {
        &:not(:last-child) {
          margin-right: 45px;
        }
      }

      @include to(770px) {
        &:not(:last-child) {
          margin-right: 0;
        }

        &:first-child {
          margin-right: 80px;
        }
      }

      @include to(625px) {
        &:first-child {
          margin-right: 40px;
        }
      }

      @include to(480px) {
        &:first-child {
          margin-right: 0;
        }
      }

      a {
        color: $blue;
        font-size: 14px;
        line-height: 2em;
        text-decoration: none;

        @include to(1440px) {
          font-size: 12px;
        }
      }
    }

    &-title {
      margin-bottom: 12px;
      font-size: 26px;
      line-height: 1em;
      color: $goldText;
      font-family: $forum;

      @include to(1440px) {
        font-size: 24px;
      }

      @include to(480px) {
        font-size: 22px;
      }

      @include to(320px) {
        font-size: 21px;
      }
    }
  }

  &__contacts {
    max-width: 220px;
    display: block;
    color: $blue;
    margin-right: 0;

    @include to(770px) {

    }

    &-title {
      margin-bottom: 16px;

      @include to(480px) {
        margin-bottom: 13px;
      }
    }

    &-desc {
      font-size: 14px;
      line-height: 1.4em;

      @include to(1440px) {
        font-size: 12px;
      }
    }

    &-phone {
      position: relative;
      display: inline-flex;
      color: $blue;
      font-size: 16px;
      font-weight: 500;
      transition: all .4s;

      @include to(1440px) {
        font-size: 14px;
      }

      &:hover {
        opacity: 0.9;
      }
    }

    &-wrap {
      display: flex;

      @include to(1025px) {
        align-items: center;
      }

      @include to(320px) {
        flex-direction: column;
        align-items: flex-start;
      }

      img {
        width: 85px;
        height: 42px;
        margin-right: 15px;
        padding-right: 15px;
        object-fit: contain;
        border-right: 1px solid #D9DBDF;

        @include to(1440px) {
          width: 76px;
          height: 33px;
        }

        @include to(320px) {
          margin-bottom: 8px;
          margin-right: 0;
          padding-right: 0;
          border: none;
        }
      }
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    position: relative;

    @include to(1025px) {
      align-items: center;
    }

    @include to(900px) {
      grid-template-columns: 1fr;
    }

    @include to(770px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include to(480px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include to(320px) {
      padding-top: 22px;
      padding-bottom: 22px;
    }

    &-f {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include to(900px) {
        justify-content: center;
      }

      @include to(480px) {
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 20px);
      height: 1px;
      background-color: #D9DBDF;
      top: 0;

      @include to(480px) {
        width: 100%;
      }
    }

    &::after {
      top: auto;
      bottom: 0;
    }

    &-title {
      margin-right: 80px;
      font-family: $forum;
      font-size: 26px;
      line-height: 1em;
      color: $blue;
      min-width: 337px;
      max-width: 337px;

      @include to(1440px) {
        min-width: auto;
        font-size: 24px;
        min-width: 250px;
      }

      @include to(1180px) {
        margin-right: 40px;
        min-width: auto;
      }

      @include to(900px) {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 420px;
      }

      @include to(480px) {
        font-size: 22px;
        max-width: 100%;
        text-align: center;
      }

      @include to(320px) {
        font-size: 21px;
      }
    }

    &-input {
      border: none;
      font-family: $forum;
      font-size: 66px;
      line-height: 1em;
      color: #E8E6DF;

      @include to(1180px) {
        margin-right: 40px;
        font-size: 50px;
        width: 100%;
      }

      @include to(1025px) {
        margin-right: 0;
      }

      @include placeholder {
        color: #E8E6DF;
      }

      @include to(1440px) {
        font-size: 64px;
      }

      @include to(1180px) {
        font-size: 50px;
        width: 100%;
      }

      @include to(667px) {
        font-size: 44px;
      }

      @include to(320px) {
        font-size: 35px;
      }
    }

    &-btn {
      min-height: 72px;
      padding-left: 100px;
      padding-right: 100px;
      border-radius: 100px;

      @include to(1025px) {
        min-height: 65px;
        padding-left: 70px;
        padding-right: 70px;
        border-radius: 100px;
      }

      @include to(567px) {
        padding-left: 50px;
        padding-right: 50px;
        min-height: 58px;
      }

      @include to(480px) {
        padding-left: 38px;
        padding-right: 38px;
      }

      @include to(320px) {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    &-input-wrap {
      position: relative;
      width: 61%;
      margin-left: 8px;
      display: inline-flex;
      flex-direction: column;

      .popup__item-msg-warn {
        position: absolute;
        bottom: -5px;
        transform: translateY(100%);
      }
    }

    &-block {
      width: 60.5%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include to(1370px) {
        width: 63.5%;
      }

      @include to(770px) {
        justify-content: flex-start;
        width: 71%;
      }

      @include to(480px) {
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;
      }

      &-text {
        font-family: $forum;
        font-size: 66px;
        line-height: 1em;
        color: $blue;

        @include to(1180px) {
          font-size: 50px;
        }

        @include to(667px) {
          font-size: 44px;
        }

        @include to(320px) {
          font-size: 35px;
        }
      }

      &.warn .popup__item-msg-warn {
        opacity: 1;
      }
    }
  }

  &__copyright {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    @include to(770px) {
      padding-top: 40px;
    }

    @include to(480px) {
      padding-top: 30px;
    }

    @include to(320x) {
      padding-top: 22px;
    }

    @include to(320px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &-text {
      font-size: 14px;
      line-height: 1.3em;
      color: #BBBEC2;

      @include to(1440px) {
        font-size: 12px;
      }
      @include to(320px) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        span {
          margin-right: 10px;
        }
      }
    }

    &-developer {
      a {
        color: $blue;
        text-decoration: none;
        transition: all .4s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
