.footer {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #fff;

  &-offset {
    padding-right: 80px;

    @include to(1250px) {
      padding-right: 0;
    }
  }

  &__top {
    display: grid;
    column-gap: 180px;
    grid-template-columns: 120px 1fr;
    justify-content: space-between;

    @include to(1230px) {
      column-gap: 90px;
    }

    &-item {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 1em;
      font-family: $forum;

      @include to(1440px) {
        font-size: 24px;
      }
    }

    &-link {
      color: $black;
      text-decoration: none;
    }

    &-right {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    &-item {
      &:not(:last-child) {
        margin-right: 180px;
      }

      margin-bottom: 30px;

      &--correct {
        margin-right: 155px;
      }

      @include to(1280px) {
        margin-right: 150px;
      }

      @include to(1230px) {
        &:not(:last-child) {
          margin-right: 90px;
        }
      }

      a {
        color: $blue;
        font-size: 14px;
        line-height: 2em;
        text-decoration: none;

        @include to(1440px) {
          font-size: 12px;
        }
      }
    }

    &-title {
      margin-bottom: 12px;
      font-size: 26px;
      line-height: 1em;
      color: $goldText;
      font-family: $forum;

      @include to(1440px) {
        font-size: 24px;
      }
    }
  }

  &__contacts {
    max-width: 220px;
    display: grid;
    row-gap: 20px;
    color: $blue;
    margin-right: 0;

    &-title {
      margin-bottom: -6px;
    }

    &-desc {
      font-size: 14px;
      line-height: 1.4em;

      @include to(1440px) {
        font-size: 12px;
      }
    }

    &-phone {
      position: relative;
      display: inline-flex;
      color: $blue;
      font-size: 16px;
      font-weight: 500;
      transition: all .4s;

      @include to(1440px) {
        font-size: 14px;
      }

      &:hover {
        opacity: 0.9;
      }
    }

    &-wrap {
      display: flex;

      img {
        width: 85px;
        height: 42px;
        margin-right: 15px;
        padding-right: 15px;
        object-fit: contain;
        border-right: 1px solid #D9DBDF;

        @include to(1440px) {
          width: 76px;
          height: 33px;
        }
      }
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    position: relative;

    &-f {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 20px);
      height: 1px;
      background-color: #D9DBDF;
      top: 0;
    }

    &::after {
      top: auto;
      bottom: 0;
    }

    &-title {
      margin-right: 80px;
      font-family: $forum;
      font-size: 26px;
      line-height: 1em;
      color: $blue;
      min-width: 337px;
      max-width: 337px;

      @include to(1440px) {
        min-width: auto;
        font-size: 24px;
        min-width: 250px;
      }

      @include to(1180px) {
        margin-right: 40px;
        min-width: auto;
      }
    }

    &-input {
      border: none;
      font-family: $forum;
      font-size: 66px;
      line-height: 1em;
      color: #E8E6DF;

      @include to(1180px) {
        margin-right: 40px;
        font-size: 50px;
        width: 100%;
      }

      @include placeholder {
        color: #E8E6DF;
      }

      @include to(1440px) {
        font-size: 64px;
      }

      @include to(1180px) {
        font-size: 50px;
        width: 100%;
      }
    }

    &-btn {
      min-height: 72px;
      padding-left: 100px;
      padding-right: 100px;
      border-radius: 100px;
    }

    &-input-wrap {
      position: relative;
      width: 61%;
      margin-left: 8px;
      display: inline-flex;
      flex-direction: column;

      .popup__item-msg-warn {
        position: absolute;
        bottom: -5px;
        transform: translateY(100%);
      }
    }

    &-block {
      width: 60.5%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include to(1370px) {
        width: 63.5%;
      }

      &-text {
        font-family: $forum;
        font-size: 66px;
        line-height: 1em;
        color: $blue;

        @include to(1180px) {
          font-size: 50px;
        }
      }

      &.warn .popup__item-msg-warn {
        opacity: 1;
      }
    }
  }

  &__copyright {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 14px;
      line-height: 1.3em;
      color: #BBBEC2;

      @include to(1440px) {
        font-size: 12px;
      }
    }

    &-developer {
      a {
        color: $blue;
        text-decoration: none;
        transition: all .4s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
