.header {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  height: var(--header-h);
  display: flex;
  z-index: 100;
  align-items: center;
  width: 100%;
  transition: all .4s;

  .btn-round-cirlce {
    display: none;
    transition: all .4s;
  }

  &.white {
    background: transparent;

    .header__link,
    .header__phone {
      color: #fff;

      &::before {
        background-color: #fff;
      }
    }

    .language__current,
    .burger-btn__block {
      background-clip: padding-box;
      border-color: #fff;
      overflow: hidden;
      padding: 5px 10px;
      color: #fff;

      & span::before {
        border-top-color: #fff;
      }

      .btn-round-cirlce {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        fill: none;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
      }

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      .burger-btn__decor {
        background-color: #fff;
      }
    }

    .header__language {
      &::before,
      &::after {
        display: none;
      }

      &:hover {
        .btn-round-cirlce {
          opacity: 0;
        }
      }
    }
    
    .burger-btn__text {
      color: #fff;
    }
  }

  &.show-menu {
    padding-top: 30px;
    background: transparent;

    .burger-btn__decor {
      transform: rotate(45deg) translate(-3px, -3px);
    }

    .burger-btn__decor:nth-child(2) {
      transform: rotate(-45deg) translate(-2px, 2px);
    }

    .btn-round {
      &::before,
      &::after {
        display: none;
      }

      .btn-round-cirlce {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        fill: none;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
      }

      &:hover {
        .btn-round-cirlce {
          opacity: 0;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    margin-right: auto;
    max-width: 200px;
    min-width: 160px;
    height: calc(var(--header-h) - 40px);

    @include to(1440px) {
      min-width: auto;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    @include to(1440px) {
      height: calc(var(--header-h) - 60px);
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__language {
    margin-right: 35px;
  }

  &__links {
    margin-right: 35px;
    display: flex;
    align-items: center;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 35px;
    }

    text-decoration: none;
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
    color: $black;
    

    @include to(1440px) {
      font-size: 10px;
    }
  }

  &__phone {
    font-family: $forum;
    font-size: 20px;
    line-height: 1em;
    margin-right: 35px;
    color: $black;
    text-decoration: none;

    @include to(1440px) {
      font-size: 18px;
      text-decoration: none;
    }
  }

  &__btn {
    margin-right: 35px;
  }
}
