.language {
    cursor: pointer;
    position: relative;

    &__list {
        background-color: #fff;
        border-radius: 4px;
        opacity: 0;
        z-index: -2;
        visibility: hidden;
        position: absolute;
        font-size: 12px;
        line-height: 1em;
        text-transform: uppercase;
        transition: all .4s;
        padding: 12px 8px;
        width: 45px;
        left: 1px;
        bottom: -57px;

        @include to(1440px) {
            font-size: 10px;
        }
    }

    &__current {
        color: $black;
        cursor: pointer;

        span {
            position: relative;
            z-index: 2;
            padding-right: 10px;

            &::before {
                content: "";
                top: 8px;
                position: absolute;
                right: 0;
                width: 0; 
                height: 0; 
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                
                border-top: 4px solid $black;
                transition: all .4s;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -17px;
                width: 50px;
                height: 19px;
                left: 0;
                background-color: transparent;
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__link {
        color: $black;
        text-decoration: none;
        transition: all .4s;

        &:hover {
            text-shadow: 0 0 .7px $black, 0 0 .7px $black;
        }
    }

    &:hover {
        .language__list {
            opacity: 1;
            visibility: visible;
            z-index: 5;
        }

        .language__current span::before {
            transform: rotate(-180deg);
        }
    }
    
}